<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <%- include("../partials/validator"); %>
            <%- include("../partials/fieldmatch"); %>
</head>

<body class="container">

    <header>
        <%- include("../partials/header"); %>
    </header>

    <main>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-sign-in"></span> </h1>

                <!-- Update PWD Form -->
                <form action="/changepassword" id="changepassword" method="post" onSubmit="return check();"
                    onkeyup="check();">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" id="password" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" id="confirm_password" class="form-control" name="password_confirm">
                    </div>
                    <div>
                        <span id="message"></span>
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Login</button>
                </form>
                <script type="text/javascript">
                    const formValidator = new Validator("changepassword");

                    formValidator.addValidation("password", "req", "Please enter your password");
                    formValidator.addValidation("password", "maxlen=99", "Max password length of 99 characters");
                    formValidator.addValidation("password", "minlen=5", "Min password length of 5");

                    formValidator.addValidation("password_confirm", "req", "Please confirm your password");
                    formValidator.addValidation("password_confirm", "maxlen=99", "Max password length of 99 characters");
                    formValidator.addValidation("password_confirm", "minlen=5", "Min password length of 5");

                </script>
                <hr>
            </div>

        </div>
    </main>

    <footer>
        <%- include("../partials/footer"); %>
    </footer>

</body>

</html>
