<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>

</head>

<body class="container">

    <header>
        <%- include("../partials/header"); %>
    </header>

    <main>
        <% imageIDs.forEach((image)=> { %>
            <% let mimeToExt=new RegExp("^[^/]+/", "i" ) %>
                <% let ext=image.mimetype.replace(mimeToExt,"") %>
                    <% ext=(ext==="jpeg" ) ? "jpg" : ext %>
                        <a href="images/<%= image.id %>.<%= ext %>">
                            <img style="height:100px" src="images/<%= image.id %>.<%= ext %>" />
                        </a>
                        <% })%>
    </main>

    <footer>
        <%- include("../partials/footer"); %>
    </footer>

</body>

</html>