<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <%if(query !==undefined && query.info === 'passwordupdated' ) {%>
                <p>Password Successfully updated</p>
            <%}%>
            <h1>This is great</h1>
            <p>
                <%=username%>,
            </p>
           

                    <p>
                        <%=email%>
                        <%=role%>
                    </p>
                    <% if(user !==undefined && username===user.username) { %>
                        <p>
                            <a class="link" href="/changepassword">Change your password</a>
                        </p>
                        <a class="link" href="/upload">upload new image</a>
                        <% } %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>